* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}
.SignIn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.verticalLine {
  flex-grow: 0;
  margin: 0 2% 0 2%;
  height: 100vh;
  width: 0;
  border: 0.5px solid #e7e7e7;
  border-radius: 100%;
}
.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.alertRoot {
  position: fixed;
  top: 1vw;
  right: 1vw;
  z-index: 999;
  width: 15vw;
  text-align: center;
  opacity: 1;
  transition: all 0.5s ease-out;
}
.hide {
  opacity: 0;
}
.alert-danger {
  box-shadow: #947676 0px 0px 4px;
}
