article {
  display: flex;
  height: 90%;
}
#recipes {
  width: 80%;
  height: 100%;
  padding: 1.5%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.recipe {
  width: calc(100% / 3);
  height: 50%;
  padding: 2%;
  cursor: pointer;
}
.recipe:hover {
  border-radius: 1%;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.recipe p {
  font-weight: 600;
  color: #4b4f52;
  font-size: 16pt;
  margin: 0;
}
.recipe img {
  width: 100%;
  border-radius: 2%;
  user-select: none;
}
.recipe-filters-container {
  margin: 2% 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

@media (max-height: 1080px) {
  .recipe {
    height: 56%;
  } }