#recipeDetails {
  background: #fff;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 10px;
  box-shadow: 0 1px 10px black;
  padding: 1.5%;
}
#recipeDetails img {
  width: 100%;
  max-height: 56vh;
  border-radius: 25px;
}
.details-filters-container {
  margin: 2% 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
#recipeDetails .row {
  margin-bottom: 1.5%;
}
